<img class="cover" src="assets/image.png" alt="Netlify + Angular">
<nav>
  <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/">Root</a>
  <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/lazy1">Lazy1</a>
  <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/lazy1/child">Lazy1/child</a>
  <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/lazy2">Lazy2</a>
  <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/lazy2/child">Lazy2/child</a>
</nav>
<div class="notice static">Root module: app component</div>
<router-outlet></router-outlet>
<footer i18n>The current locale is <span class="locale">{{currentLocale}}</span></footer>
